


div#graph4{
    width: 940px;
    height: 530px;
    margin-top: 20px;
    
}


@media screen and (max-width: 1174px) {
    div#graph4{
        width: 800px;
        height: 530px;
        margin-top: 20px;
        
    }
}
@media screen and (max-width: 989px) {
    div#graph4{
        width: 520px;
        height: 530px;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 574px) {
    div#graph4{
        width: 480px;
        height: 530px;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 412px) {
    div#graph4{
        width: 402px;
        height: 430px;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 375px) {
    div#graph4{
        width: 330px;
        height: 430px;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 320px) {
    div#graph4{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        
    }
}
