form.module2{
    width: 265px;
}

div#graph2{
    width: 930px;
    height: 530px;
    margin-top: 20px;
    
}

@media screen and (max-width: 756px) {
    div#graph2{
        width: 540px;
        height: 530px;
        margin-top: 20px;
        
    }
}